@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,300italic,400,400italic);

body {
	font-family: 'Open Sans', sans-serif;
}

#menu {
	color: #ddd;
}

a {
	color: #999;
}

#main{
	margin-left: 200px;
}

#main h1 {
	text-align: center;
	color: #000;
}

#footer {
	margin-left: 150px;
	position: fixed;
	width: 100%;
	bottom: 0px;
	color: #ddd;
	background-color: #191818
}

.button-success,
.button-error,
.button-warning,
.button-secondary {
    color: white;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.button-success {
    background: rgb(28, 184, 65); /* this is a green */
}

.button-error {
    background: rgb(202, 60, 60); /* this is a maroon */
}

.button-warning {
    background: rgb(223, 117, 20); /* this is an orange */
}

.button-secondary {
    background: rgb(66, 184, 221); /* this is a light blue */
}