form input[type="number"] {
	width: 5em;
}

.imgcont {
	width: 512px;
	height: 512px;
}

#image {
	width: 100%;
	height: 100%;
	box-shadow: 5px 5px 20px #000;
	transition: all ease 0.5s;
}

#image.loading {
	filter: blur(2px);
}

#spincont {
	position: absolute;
	width:512px;
	height:512px;
}

#greybox {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 1;
	background-color: #000;
	opacity: 0.5;
}

#spinner {
  position: absolute;
  background-color: #fff;
  z-index: 2;
  width: 50px;
  height: 50px;
  margin: 47%;
  -webkit-animation: rotateplane 1.2s infinite ease-in-out;
  animation: rotateplane 1.2s infinite ease-in-out;
}

@-webkit-keyframes rotateplane {
  0% { -webkit-transform: perspective(120px); }
  50% { -webkit-transform: perspective(120px) rotateY(180deg); }
  100% { -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg); }
}

@keyframes rotateplane {
  0% { 
	transform: perspective(120px) rotateX(0deg) rotateY(0deg);
	-webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg); 
  } 50% { 
	transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
	-webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg); 
  } 100% { 
	transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
	-webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}