<!DOCTYPE html>
<html>
	<head>
		{% block head %}
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{% block title %}{% endblock %} - MLIR</title>
		<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
		<link rel="stylesheet" href="static/css/base.css">
		<link rel="stylesheet" type="text/css" href="static/css/side-menu.css">
		<script src="static/js/jquery.min.js"></script>
		<script src="static/js/ui.js"></script>
		{% endblock %}
	</head>
	<body>
	<a href="#menu" id="menuLink" class="menu-link">
        <!-- Hamburger icon -->
        <span></span>
    </a>

    <div id="menu">
        <div class="pure-menu">
            <a class="pure-menu-heading" href="/">MLIR</a>

            <ul class="pure-menu-list">
                <li class="pure-menu-item"><a href="/generate" class="pure-menu-link">Generate</a></li>
                <li class="pure-menu-item"><a href="/recognize" class="pure-menu-link">Recognize</a></li>
                <li class="pure-menu-item"><a href="/about" class="pure-menu-link">About</a></li>
            </ul>
        </div>
    </div>

		<div id="main" >{% block content %}{% endblock %}</div>
		<div id="footer">
		{% block footer %}
		Created at LTU 2015. &copy; <a href="http://bitbucket.org/mlir">MLIR</a>
		{% endblock %}
		</div>
	</body>
</html>