{% extends "base.html" %}
{% block title %}Generate Image{% endblock %}
{% block content %}
<h1>Image generator</h1>
<link rel="stylesheet" type="text/css" href="static/css/generate.css">
<div class="pure-g">
<form class="pure-form pure-form-aligned pure-u-1-2" id="theform">
	<div class="pure-control-group">
		<label for="resx">Resolution</label>
		<input name="resx" type="number" value="256" min="1">
		&times;
		<input name="resy" type="number" value="256" min="1" disabled>
	</div>

	<div class="pure-control-group">
		<label for="square">Square</label>
		<input name="square" type="checkbox" checked></label>
	</div>

	<div class="pure-control-group">
		<label for="transx">Translation</label>
		<input name="transx" type="number" value="0" min="0" max="512">
		&times;
		<input name="transy" type="number" value="0" min="0" max="512">
		<input type="checkbox" id="tlock" checked>
	</div>

	<div class="pure-control-group">
		<label for="glyph">Glyph</label>
		<input type="text" name="glyph" value="A" maxlength="1" style="width:2.5em;">
		<input type="checkbox" id="glock" checked>
	</div>

	<div class="pure-control-group">
		<label for="rot">Rotation</label>
		<input type="number" name="rot" value="0"> &deg;
		<input type="checkbox" id="rlock" checked>
	</div>

	<div class="pure-controls">
		<p>Use checkboxes to select which items to randomize.</p>
		<button type="button" class="pure-button button-success" id="randomize">Randomize</button>
		<button type="reset"  class="pure-button button-error">Reset</button>
		<button type="submit" class="pure-button pure-button-primary">Generate</button>
	</div>
</form>

<div class="pure-u-1-2">
	<p>
	<h2>Generated Image</h2>
	<div class="imgcont">
	<div id="spincont">
		<div id="greybox"></div>
		<div id="spinner"></div>
	</div>
	<img id="image" src="static/img/PLACEHOLDER.png">
	</div>
	</p>
</div>
</div>


<script src="static/js/generate.js"></script>
{% endblock %}