{% extends "base.html" %}
{% block title %}Image recognition{% endblock %}
{% block content %}
<h1>Image recognition</h1>

<div class="pure-g" style="letter-spacing:initial">
	<div class="pure-u-1-2">
		<button class="pure-button button-error" id="hidebtn">debug</button>
		<form class="pure-form" id="debug">
			<div class="pure-control-group">
				<label for="matrix">Matrix input</label>
				<input type="text" name="matrix">
			</div>

			<div class="pure-control-group">
				<label for="size">side length</label>
				<input type="number" name="size" value="5">
			</div>
			<div class="pure-control-group">
				<button type="submit" class="pure-button pure-button-primary">Show</button>
			</div>
		</form>
	</div>

	<div class="pure-u-1-2">
		<p>
			<img src="" id="image" style="width:512px;height:512px;image-rendering:-moz-crisp-edges">
		</p>
	</div>
</div>

<script src="/static/js/recognize.js"></script>
{% endblock %}