{% extends "base.html" %}
{% block title %}Image recognition{% endblock %}
{% block content %}
<h1>Image recognition</h1>
<p>Most prominent transform after 2 iterations:{{ output }}</p>
<p>Input:</p><img src="{{ input }}"/>
<p>MSC steps:</p>
<div style="max-width:1100px">
{% for img in output_pics %}
<img width="256" src="{{img}}"/>
{% endfor %}
</div>
{% endblock %}
