{% extends "base.html" %}
{% block title %}Image recognition{% endblock %}
{% block content %}
<h1>Image recognition</h1>

		<form action="" method="post" enctype="multipart/form-data">
				<label for="input">Input(r)</label>
				<input id="input" type="file" name="input_file">
				<label for="k">Convergence rate(k)</label>
				<input id="k" type="number" step="0.0001" name="k" value="0.05"/>
				<button type="submit" class="pure-button pure-button-primary">Upload and recognize</button>
		</form>

{% endblock %}
